@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    background-color: white;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper{
    margin: auto;
    width: 90%;
    background-color: white;
    margin-bottom: 20px;
    /* overflow: hidden; */
    /* border-radius: 30px; */
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Fjalla One';
    /* border-radius: 100px; */
}

table th, table td{
    border: 1px solid #dddddd;
    padding: 15px;
    text-align: center;
}

h3{
    font-family: 'Oxygen';
    font-weight: 700;
}

p {
    font-family: 'Oxygen';
    text-align: justify;
    font-weight: 400;
}

nav ul{
    padding: 0; /* https://stackoverflow.com/questions/9620594/removing-ul-indentation-with-css */
}

nav {
    background-color: rgb(221, 169, 0);
    font-family: 'Rubik';
    font-size: 20px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover, nav ul li:hover{
    color:rgb(255, 0, 0);
    text-decoration: underline;
}

header{
    text-align: center;
    color: rgb(129, 127, 127);
    background-color: rgb(47, 61, 86);
    padding-bottom: 20px;
    margin-bottom: -20px;
    /* margin-top: -23px; */
    font-family: 'Inter';
}

.first-word{
    color: rgb(138, 0, 0);
    font-size: 23px;
    font-family: 'Fira Sans';
    animation-name: first-word-move;
    animation-duration: 1.5s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    position: relative;
    opacity: 0;
    right: -4000px;
}

@keyframes first-word-move{
    0%{
        opacity: 0;
        right: -4000px;
    }
    100%{
        opacity: 1;
        right: 0px;
    }
}

header h1{
    /* ANIMATION */
    animation-name: header-move;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    /* opacity: 0; */
    animation-fill-mode: forwards;
    position: relative;
    left: -4000px;
}

@keyframes header-move{
    0%{
        /* opacity: 0; */
        /* font-size: 16px; */
        left: -4000px;
    }
    100%{
        /* opacity: 1; */
        /* font-size: 32px; */
        left: 0px;
    }
}

footer{
    background-color: #005e10;
    /* margin-top: 30px; */
    /* margin-bottom: -28px; */
}

footer p{
    padding: 30px;
    text-align: center;
    font-family: 'Inter';
    color: white;
    font-size: 20px;
    font-weight: bold;

    /* ANIMATION */
    animation-name: footer-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    position: relative;
    bottom: -500px;
}

@keyframes footer-up{
    0%{
        bottom: -500px;
    }
    100%{
        bottom: 0px;
    }
}

nav {
    display: block;
}

nav ul li{
    list-style-type: none;
    padding: 13px;
    font-size: 26px;
    text-align: center;
}

table th img, table td img{
    width: 90%;
}

iframe{
    width: 90%;
    height: 90%;
    /* border-radius: 15px; */
}

.submitted-file{
    color: red;

    animation-name: emphasis-submit;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes emphasis-submit{
    0%{
        text-shadow: 1px 1px blue;
    }
    50%{
        text-shadow: 1px 1px red;
    }
    100%{
        text-shadow: 1px 1px blue;
    }
}

table tr td ul li, table tr td ol li{
    list-style-type: none;
}

table tr th a{
    color: black;

    transition-property: all;
    transition-duration: 1s;
}

table tr th a:nth-of-type(2n - 1):hover{
    color: rgb(255, 187, 0);
}

table tr td a{
    color: rgb(0, 0, 0);

    transition-property: all;
    transition-duration: 1.5s;
}

table tr td a:hover{
    color: rgb(2, 206, 121);
}

table tr th a:visited{
    color: black;
}

nav ul ul{
    display: none;
}

/* Sub-Menu */
nav ul li:hover > ul{
    position: relative;
    display: block;
    min-width: 200px;
}

nav ul li ul li{
    text-align: center;
}

nav ul li{
    cursor: pointer;
}

/* CONFIGURE TABLE COLOURS */
table tr:nth-of-type(2n){
    background-color: white;
}

table tr:nth-of-type(2n - 1){
    background-color: rgb(216, 216, 216);
}

table tr:nth-of-type(1){
    background-color: rgb(0, 0, 0);
    color: white;
}

/* img {
    border-radius: 20px;
} */

.results{
    color: green;

    text-shadow: none;

    /* ANIMATION */
    animation-name: success-noice;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.reviews-table{
    margin-bottom: 50px;
    overflow-x: auto;
}

#review-title{
    text-align: center;
    font-family: 'Raleway';
}

@keyframes success-noice{
    0%{
        text-shadow: none;
    }
    100%{
        text-shadow: 0px 0px 2px turquoise;
    }
}


.failure-message{
    color: red;

    /* ANIMATION */
    animation-name: attention-feyleures;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes attention-feyleures{
    0%{
        color: yellow;
    }
    100%{
        color: red;
    }
}

/* Desktop Layout */
@media only screen and (min-width: 768px){
    nav ul li:hover{
        color: black;
        text-decoration: none;
    }

    nav > ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    nav ul li:hover > ul{
        position: absolute;
        display: block;
        min-width: 200px;
        transform: translateX(20%);
    }

    table th img, table td img{
        width: 60%;
        height: 60%;
    }

    nav ul li ul{
        background-color: #DE9B35;
    }

    nav a:hover{
        color: black;
        text-decoration: none;
    }

    nav li{
        transition-property: all;
        transition-duration: 0.5s;
    }

    nav li:hover{
        background-color: rgb(255, 0, 0);
    }

    nav ul li ul li:hover{
        background-color: rgb(74, 100, 137);
    }
    
    iframe{
        width: 90%;
        height: 50vh;
    }
    img {
        transition-property: all;
        transition-duration: 1s;
    }
    img:hover{
        width: 80%;
        height: 80%;
    }
}